.place__title {
  color: #fff;
  font-style: normal;
  font-weight: 900;
  grid-row: 1;
  grid-column: 1;
  margin: 0;
  padding: 0;
  width: 460px;
  font-size: 72px;
  line-height: 76px;
}

/*1024px*/
@media screen and (max-width: 1280px) {
  .place__title {
    width: 440px;
  }
}

/*768px*/
@media screen and (max-width: 1023px) {
  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

/*320px*/
@media screen and (max-width: 767px) {
  .place__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-left: auto;
    margin-right: auto;
  }
}