.page {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*1024px*/
@media screen and (max-width: 1280px) {
  .page {
    width: 1024px;
  }
}

/*768px*/
@media screen and (max-width: 1023px) {
  .page {
    width: 768px;
  }
}

/*320px*/
@media screen and (max-width: 767px) {
  .page {
    width: 320px;
  }
}