.photo-grid {
  display: grid;
  max-width: 1184px;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(auto, 213px);
  gap: 16px;
  margin: 0 auto;
}

/*1024px*/
@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(auto, 225px);
    gap: 14px;
  }
}

/*768px*/
@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(auto, 264px);
    gap: 16px;
  }
}

/*320px*/
@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: 288px;
    grid-template-columns: 288px;
    grid-template-rows: repeat(auto, 216px);
    row-gap: 12px;
  }
}