.places {
  display: flex;
  flex-direction: column;
  min-width: 984px;
  margin: 0 148px;
  padding: 92px 0;
}

@media screen and (max-width: 1280px) {
  .places {
    min-width: 928px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .places {
    min-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    min-width: 320px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}