.lead {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 984px;
  margin: 0 148px;
}

/*1024pх*/
@media screen and (max-width: 1280px) {
  .lead {
    width: 928px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

/*768px*/
@media screen and (max-width: 1024px) {
  .lead {
    width: 768px;
    margin: 0;
  }
}

/*320px*/
@media screen and (max-width: 768px) {
  .lead {
    width: 320px;
  }
}