.lead {
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
}

/*1024pх*/
@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;
  }
}

/*768px*/
@media screen and (max-width: 1023px) {
  .lead {
    max-width: 100%;
    margin: 0;
  }
}