.cover__subtitle {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-style: normal;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  color: #fff;
  grid-row: 2;
  grid-column: 1;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}