.cover__subtitle {
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  width: 360px;
  font-size: 18px;
  line-height: 22px;
  top: 429px;
  left: 412px;
}

/*1024px*/
@media screen and (max-width: 1280px) {
  .cover__subtitle {
    top: 379px;
    left: 332px;
  }
}

/*768px*/
@media screen and (max-width: 1024px) {
  .cover__subtitle {
    top: 299px;
    left: 204px;
  }
}

/*320px*/
@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 16px;
    top: 119px;
    left: 16px;
  }
}