.lead__title {
  
  text-align: center;
  font-style: normal;
  font-weight: 900;
  color: #fff;
  width: 720px;
  padding: 0;
  margin: 0 132px;
  font-size: 96px;
  line-height: 100px;
}

/*1024px*/
@media screen and (max-width: 1280px) {
  .lead__title {
    margin: 0 104px;
  }
}

/*768px*/
@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin: 0 16px;
  }
}