.lead__image {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
  object-position: center top;
  max-width: 984px;
  max-height: 615px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 320px;
    max-height: 200px;
  }
}