.intro__text {
  max-width: 690px;
  margin: 0;
  padding: 0;
  padding-bottom: 33px;
  box-sizing: border-box;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}