.intro {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 984px;
  padding: 92px 0;
}

/*1024px*/
@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

/*768px*/
@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    margin-left: 24px;
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

/*320px*/
@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    margin-left: 16px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}