.intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 690px;
  margin-left: 148px;
  padding: 92px 0;
}

@media screen and (max-width: 1280px) {
  .intro {
    max-width: 690px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 720px;
    margin: 0 24px;
    padding: 88px 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 288px;
    margin: 0 16px;
    padding: 64px 0;
  }
}