.lead__subtitle {
  border: 1px solid red;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    padding-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    width: 640px;
    height: 72px;
    font-size: 30px;
    padding-top: 32px;
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: 288px;
    height: 40px;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 40px;
  }
}