.lead__subtitle {
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  margin: 0 auto;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 64px;
}

/*1024px*/
@media screen and (max-width: 1279px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

/*320px*/
@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 40px;
  }
}