.cover {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  text-decoration: none;
  align-items: start;
  width: 92.5%;
  row-gap: 32px;
  border: 1px solid red;
}

.cover:hover .cover__overlay {
  opacity: .8;
}

@media screen and (min-height: 768px) {
  .cover {
    row-gap: 16px;
  }
}