.cover {
  margin: 0 auto;
  padding: 0;
  width: 1184px;
  height: 740px;
  position: relative;
}

/*1024px*/
@media screen and (max-width: 1280px) {
  .cover {
    width: 1024px;
    height: 640px;
  }
}

/*768px*/
@media screen and (max-width: 1024px) {
  .cover {
    width: 768px;
    height: 480px;
  }
}

/*320px*/
@media screen and (max-width: 755px) {
  .cover {
    width: 320px;
    height: 200px;
  }
}