.place__link {
  text-decoration: none;
  color: #fff;
  text-decoration-line: underline;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  transition: opacity .3s ease-in-out;
  font-size: 18px;
  line-height: 22px;
}

.place__link:hover {
  opacity: .5;
}

@media screen and (max-width: 1280px) {
  .place__link {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .place__link {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 768px) {
  .place__link {
    display: none;
  }
}