.cover__overlay {
  background-color: #2A2C2F;
  width: 100%;
  grid-row: 1/-1;
  grid-column: 1;
  opacity: .3;
  transition: opacity .3s ease-in-out;
}


@media screen and (min-width: 1280px) {
  .cover__overlay {
    height: 740px;
  }
}

@media screen and (max-width: 1280px) {
  .cover__overlay {
    height: 640px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    height: 480px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    height: 200px;
  }
}