.cover__background {
  background-image: url('../../../images/cover/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: -1;
  grid-row: 1/-1;
  grid-column: 1;
  height: 740px;
}

@media screen and (max-width: 1280px) {
  .cover__background {
    height: 640px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__background {
    height: 480px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    height: 200px;
  }
}