.cover__title {
  margin: 245px 312px 0;
  padding: 0;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  color: #fff;
  width: 560px;
  font-size: 72px;
  line-height: 76px;
  z-index: 1;
}

/*1024px*/
@media screen and (max-width: 1280px) {
  .cover__title {
    margin: 195px 232px 0;
  }
}

/*768px*/
@media screen and (max-width: 1024px) {
  .cover__title {
    margin: 115px 104px 0;
  }
}

/*320px*/
@media screen and (max-width: 768px) {
  .cover__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 33px 16px 0;
  }
}