.place {
  width: inherit;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 460px 484px;
  column-gap: 40px;
  grid-template-rows: minmax(min-content, max-content);
  row-gap: 48px;
  padding-bottom: 80px;
}

@media screen and (max-width: 1280px) {
  .place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;
    grid-template-rows: minmax(min-content, max-content);
    row-gap: 48px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 340px 352px;
    column-gap: 28px;
    grid-template-rows: minmax(min-content, max-content);
    row-gap: 48px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content);
    row-gap: 32px;
    padding-bottom: 49px;
  }
}