.cover__title-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  grid-row: 1;
  grid-column: 1;
}

@media screen and (min-width: 1280px) {
  .cover__title-box {
    min-height: 740px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .cover__title-box {
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover__title-box {
    min-height: 480px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title-box {
    min-height: 200px;
  }
}